.box{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 200px;
    padding: 1rem;
    margin: 1rem;
    width: 200px;
}

.bigbox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 1rem 2rem;
    padding-left: 3rem;
}